<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include ('../layout/header.ejs')%>
    <div>
        <h5>Search Result </h5>
    </div>
    <div>
        <h2><%=details.title%></h2>
        <h5><%=details.author%></h5>
        <p><%=details.isbn%></p>
    </div>
</body>

</html>