<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Search</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/icouns.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <header>
        <h1>Best Book !</h1>
        <a href="/">Main Page </a>
        <a href="/search">Serch in google api</a>
    </header>
    <main>
        <h2>Saved Books</h2>
        <p>Number Of Faverate Books :<%books.length%></p>
            <% books.forEach(val=>{%>
            <h3>Book Details</h3>
            <img src="<val.image_url%>" alt="" srcset="">
                <p>Title : <%val.title%></p>
                <p>Author : <%val.author%></p>
                <p>isbn : <%val.isbn %></p>
                <a href="/books/<%=book.id%>">View more Details</a>
            <%});%>
        </main>
    <footer></footer>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src=""></script>
</body>

</html>